<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <table>
        <% Object.keys(table[0]).forEach(key => { %>

            <th>
                <%= key %>
            </th>

            <% }); %>

                <% table.forEach(song=> { %>
                    <tr>
                        <td>
                            <%= song.id %>
                        </td>
                        <td>
                            <%= song.name %>
                        </td>
                        <td>
                            <%= song.artist%>
                        </td>
                        <td>
                            <%=song.album %>
                        </td>
                        <td>
                            <%= song.genre%>
                        </td>
                        <td>
                            <%= song.year%>
                        </td>
                        <td>
                            <%= song.date_added.toLocaleDateString('en-us')%>
                        </td>
                        <td>
                            <%= song.plays%>
                        </td>
                        <td>
                            <%= song.skips%>
                        </td>

                    </tr>
                    <%}); %>

    </table>
</body>

</html>